<header class="flex p-8 h-14 bg-header"> 
  <!-- mobile -->
  <div class="flex items-center desktop-hidden justify-end w-full">
    <div class="wrapper ml-2">
      <button nz-button nzType="primary" (click)="toggleCollapsed()" class="text-primary-link">
        <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" class="text-xl"></span>
      </button>
      <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed" *ngIf="!isCollapsed">
        <ng-container *ngFor="let item of menuItems">
          <li nz-menu-item [routerLink]="item.path" (click)="toggleCollapsed()">
          <span nz-icon nzType="{{item.type}}"></span>
          <span>{{ item.label | translate }}</span>
        </li>
        </ng-container>
      </ul>
    </div>
  
    <ng-container *ngTemplateOutlet="follow"></ng-container>
  </div> 

  <!-- desktop -->
  <div class="mobile-hidden flex items-center justify-between w-full">
    <img src="assets/img/logo.jpg" alt="logo" width="80px" height="80px">
    <nav class="h-7">
      <div class="container">
        <a *ngFor="let item of menuItems" class="link" [routerLink]="item.path">
          {{ item.label| translate }}
        </a>
      </div>
    </nav>
    
    <ng-container *ngTemplateOutlet="follow"></ng-container>
  </div> 
</header>


<ng-template #lang>
  <div>
    <a class="w-15 font-semibold p-2 text-primary-link" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
      {{(tr.currentLang || 'en') | uppercase}}
      <span nz-icon nzType="down"></span>
    </a>
    
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu> 
        <li nz-menu-item (click)="tr.use('en')">En</li>
        <li nz-menu-item (click)="tr.use('hy')">Hy</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</ng-template>

<ng-template #follow>
  <div class="flex items-center">
    <div  class="flex">
      <a href="#">
        <img src="assets/img/icons/icons8-facebook-48.webp" alt="facebook icon">
      </a>
      <a href="#">
        <img src="assets/img/icons/icons8-instagram-48.webp" alt="instagram icon">
      </a>
      <a href="#">
        <img src="assets/img/icons/icons8-youtube-48.webp" alt="youtube icon">
      </a>
    </div>

    <ng-container *ngTemplateOutlet="lang"></ng-container>
  </div>
</ng-template>