.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1222;
}


.wrapper {
  position: absolute;
  top: 18px;
  left: 0;
}

button {
  margin-bottom: 12px;
}
    