@import 'src/assets/styles/variables.scss';

.form {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid $primary;
  border-radius: 15px;
  padding: 15px;
  margin-top: 30px;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  width: 100%;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px $primary solid;;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

// app-button
.btn {
  flex: 1 1 auto;
  align-items: center;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);

  &:hover {
    background-position: right center;
  }
 }