<footer class="footer">
    <div class="footer-content flex">
      <div class="flex flex-col justify-center align-center">
        <h4>{{ singerName }} &copy; {{ currentYear }}</h4>
        <p>{{ singerDescription }}</p>
      </div>
      <div class="footer-right flex flex-col">
        <ul class="social-icons flex">
          <li *ngFor="let social of socialLinks">
            <a href="{{ social.url }}" target="_blank">
              <i class="fab fa-{{social.socialName}}"></i>
            </a>
          </li>
        </ul>
        <div class="contact-info">
          <i class="fa fa-phone"></i>
          <span>{{ phoneNumber }}</span>
          <i class="fa fa-envelope"></i>
          <span>{{ emailAddress }}</span>
        </div>
      </div>
    </div>
</footer>
