<main class="bg-main px-[30px] py-[15px]">
  <div class="main-img"></div>

  <div class="grid mt-10">
      <div class="block" routerLink="/video/-pPfbOjUSzY" >
        <h2>Հայկ Մանուկյան - Հայոց վահաններ
        </h2>
        <img src="assets/img/514vpsx7NwL._SX354_SY354_BL0_QL100__UXNaN_FMjpg_QL85_.jpg" alt="user">
      </div>
      <div class="block" routerLink="/video/WNXjGQit0bQ">
        <h2>𝙃𝙖𝙮𝙠 𝙈𝙖𝙣𝙪𝙠𝙮𝙖𝙣 - 𝙄𝙢 𝙖𝙣𝙪𝙨𝙝 𝙢𝙖𝙮𝙧𝙞𝙠</h2>
        <img src="assets/img/514vpsx7NwL._SX354_SY354_BL0_QL100__UXNaN_FMjpg_QL85_.jpg" alt="user">
      </div>
      <div class="block" routerLink="/video/r5fRq-wir7w">
        <h2>Բայց թե անուժ ես</h2>
        <img src="assets/img/514vpsx7NwL._SX354_SY354_BL0_QL100__UXNaN_FMjpg_QL85_.jpg" alt="user">
      </div>
  </div>
</main>
