.main-img {
    height: 400px;
    background: url('/assets/img/514vpsx7NwL._SX354_SY354_BL0_QL100__UXNaN_FMjpg_QL85_.jpg') no-repeat center center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Three columns with equal width
    grid-gap: 20px; // Gap between blocks
    
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr); // Two columns for smaller screens
    }
    
    @media (max-width: 480px) {
      grid-template-columns: 1fr; // Single column for mobile screens
    }
  }
  
  .block {
    background-color: #ccc;
    text-align: center;
    cursor: pointer;

    img {
      display: block;
      margin: 0 auto;
      padding: 8px;
      width: 200px;
    }
  }
  