/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/assets/styles/links.scss';
// @import 'src/assets/styles/links.scss';

.validation-error {
  color: $danger;
}

.mobile-hidden {
  @media screen and (max-width: $tablet) {
    display: none;
  }

  
}

.desktop-hidden {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}