@import './variables.scss';

  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
    cursor: pointer;
  }

.link {
  display: block;
  position: relative;
  margin-inline: 25px;
  font-size: 24px;
  color: $primary;
}

.link:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: $secondary;

  position: absolute;
  top: 100%;
  left: 0;

  transition: width 0.4s ease-in-out;
}

.link:hover:before {
    width: 100%;
    z-index: -1;
}